.contact-nav {
  margin-left: auto;

  @include mq(mobmax767) {
    display: none;
  }

  @include mq(deskmin1200) {
    display: flex;
  }

  &__item {
    @include mq(deskmin1200) {
      margin-right: 50px;
    }
  }

  &__item:last-child {
    margin-right: 0;
  }
}

.contact-nav__link {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--contact-color);
  padding-bottom: 32px;
  padding-top: 32px;
  align-items: center;

  transition: color var(--anim);

  &:hover,
  &:focus {
    color: var(--color-hover);
  }

  @include mq(deskmax1199) {
    padding-top: 0;
    padding-bottom: 10px;
  }
}

.contact-nav__icon {
  margin-right: 10px;
  fill: currentColor;

  @include mq(deskmax1199) {
    margin-right: 8px;
  }
}
