.header {
  background-color: var(--header-background-color);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
  position: relative;

  @include mq(deskmin1200) {
    justify-content: flex-start;
  }
}

.header-nav {
  @include mq(mobmax767) {
    display: none;
  }

  // @include mq(tab768_1199) {
  //   margin-right: 84px;
  // }

  // @include mq(deskmin1200) {
  //   margin-right: 305px;
  // }
}
