.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-repeat: no-repeat;
  max-width: 480px;
  background-position: center;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/header_mob.jpg");
  background-size: 480px 400px;

  @include mq(retina) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/header_mob@2x.jpg");
  }

  @include mq(tabmin768) {
    max-width: 768px;
    padding-top: 118px;
    padding-bottom: 118px;

    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/header_tab.jpg");
    background-size: 768px 400px;

    @include mq(retina) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/header_tab@2x.jpg");
    }
  }

  @include mq(deskmin1200) {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;

    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/header_desk.jpg");
    background-size: 1600px 600px;

    @include mq(retina) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/header_desk@2x.jpg");
    }
  }
}

.hero__title {
  font-size: 26px;
  line-height: 1.62;
  text-transform: uppercase;
  color: var(--white-text);
  font-weight: 900;
  letter-spacing: 0.06em;
  text-align: center;
  margin-bottom: 30px;
  // margin-left: auto;
  // margin-right: auto;

  @include mq(deskmin1200) {
    font-size: 44px;
    line-height: 1.36;
  }
}

.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  background-color: var(--button-color);
  color: var(--white-text);
  cursor: pointer;
  border-radius: 4px;
  border: 1px;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--anim);

  &:hover,
  &:focus {
    background-color: var(--button-hover);
  }
}

/*Модальное окно*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.3);

  transition: opacity var(--anim), visibility var(--anim);

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 450px;
  width: 100%;
  padding: 40px;
  background-color: #fff;

  transform: translate(-50%, -50%);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform var(--anim);

  @include mq(deskmin1200) {
    max-width: 528px;
  }
}
/* початковий стан елемента перед анімацією */

.backdrop {
  &.is-hidden.modal {
    transform: translate(-50%, -50%) scale(0.4);
    opacity: 0;
  }
}

/* кінцевий стан елемента після анімації */

.backdrop {
  &.modal {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;

  background-color: var(--white-text);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  cursor: pointer;
  transition: fill var(--anim);

  &:hover,
  &:focus {
    fill: var(--button-hover);
  }
}

.btn-close {
  fill: currentColor;
  transition: fill var(--anim);

  &:hover,
  &:focus {
    fill: var(--button-hover);
  }
}

/*Форма*/

.form__title {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;

  color: var(--form-color);
}

.form-contact__label {
  display: block;

  text-align: left;
  margin-bottom: 10px;
}

.form-label__comments {
  display: block;

  text-align: left;
  margin-bottom: 20px;
}

.form-contact__name {
  display: inline-block;
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;

  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.form-contact__input-container {
  position: relative;
  display: block;
}

.form-contact__input {
  display: flex;
  width: 100%;
  height: 40px;
  padding: 12px 16px;
  padding-left: 42px;

  line-height: 14px;
  letter-spacing: 0.01em;

  border: 1px solid var(--border-color);
  border-radius: 4px;
  color: var(--form-color);
  outline: transparent;

  transition: border-color var(--anim);

  &:focus,
  &:hover {
    border-color: var(--color-hover);
  }
}

.form-contact__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  fill: var(--form-color);

  transform: translateY(-50%);
  transition: fill var(--anim);
}

.form-contact__input:focus + .form-contact__icon {
  fill: var(--color-hover);
}

.form-contact__comments {
  display: flex;
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.15;
  margin: 0;
  width: 100%;
  height: 100px;
  padding: 12px 16px;
  resize: none;

  border: 1px solid var(--border-color);
  border-radius: 4px;
  outline: transparent;
  transition: border-color var(--anim);

  &:focus,
  &:hover {
    border-color: var(--color-hover);
  }
}

/*Чекбокс*/
.form-contact__checkbox-label {
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  margin-bottom: 30px;
}

.form-contact__custom-checkbox {
  display: flex;
  width: 16px;
  height: 15px;
  align-items: center;
  justify-content: center;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;

  transition: background-color var(--anim);
}

.form-contact__checkbox-icon {
  opacity: 0;

  transition: opacity var(--anim);
}

.form-contact__checkbox-input:checked + .form-contact__custom-checkbox {
  background-color: var(--color-hover);
  border-color: var(--color-hover);
  color: #000;
  fill: var(--white-text);
}

.form-contact__checkbox-input:checked
  + .form-contact__custom-checkbox
  .form-contact__checkbox-icon {
  opacity: 1;
}

.form-contact__checkbox-input:focus + .form-contact__custom-checkbox {
  border-color: var(--color-hover);
}

.form-contact__checkbox-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--contact-color);
  cursor: pointer;

  @include mq(deskmin1200) {
    font-size: 14px;
  }
}

.form-contact__checkbox-link {
  color: var(--color-hover);
}

.form-contact__checkbox-button {
  display: inline-block;
  font-family: inherit;
  background-color: var(--color-hover);
  color: var(--white-text);
  min-width: 200px;
  min-height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  cursor: pointer;
  border-radius: 4px;
  border: 1px;
  padding: 10px 32px;
  margin-bottom: 40px;
  transition: background-color var(--anim);

  &:hover,
  &:focus {
    background-color: var(--button-hover);
    color: var(--white-text);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

/*Особенности*/

.specific__list {
  justify-content: center;

  @include mq(tabmin768) {
    display: flex;
    margin: -15px;
  }

  @include mq(tab768_1199) {
    flex-wrap: wrap;
  }
  @include mq(deskmin1200) {
    display: flex;
  }
}

.specific__item {
  @include mq(mobmax767) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @include mq(tabmin768) {
    margin: 15px;
  }

  @include mq(tab768_1199) {
    max-width: 354px;
    // flex-basis: calc(100% / 2 - 30px);
    // margin: 15px 15px;
    // margin-top: 30px;
  }

  @include mq(deskmin1200) {
    width: 270px;

    // &:not(:last-child) {
    //   margin: 15px;
    //   margin-bottom: 0;
    // }
  }
}

.specific__icon {
  display: flex;
  width: auto;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}

.specific__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  align-items: center;

  @include mq(mobmax767) {
    text-align: center;
  }
}

.specific__desc {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 10px;
}

/*Чем мы занимаемся*/

.job {
  padding-top: 0;
  //   padding-top: 94px;
  //   padding-bottom: 94px;
  @include mq(deskmax1199) {
    display: none;
  }
}

.job__subject {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.job__list {
  display: flex;
  justify-content: center;
}

.job__item {
  width: 370px;
  position: relative;
  &:not(:last-child) {
    margin-right: 30px;
  }

  @include mq(deskmin1200) {
    flex-basis: calc(1200px / 3 - 30px);
  }
}

.job__text {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);

  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text);
  font-weight: 700;

  display: flex;
  justify-content: center;
  align-items: center;
}

/*Наша команда*/
.team {
  background-color: #f5f4fa;

  @include mq(deskmin1200) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.team__list {
  justify-content: center;

  @include mq(tab768_1199) {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }

  @include mq(deskmin1200) {
    display: flex;
  }
}

.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 100%;

  @include mq(mobmax767) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @include mq(tab768_1199) {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }

  @include mq(deskmin1200) {
    display: flex;
    flex-wrap: wrap;
    width: 270px;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.foto {
  width: 100%;
}

.team-command__div {
  background-color: var(--white-text);
  padding: 30px 10px;
  border-radius: 0px 0px 4px 4px;
  width: 100%;
}

.team-command__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team-command__proficion {
  line-height: 1.19;
  color: var(--contact-color);
  text-align: center;
  letter-spacing: 0.03em;
}

/*--Социальные иконки--*/

.team-command__social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;

  @include mq(deskmax1199) {
    padding-top: 30px;
    padding-bottom: 24px;
  }
}

.team-command__item {
  justify-content: center;
  align-items: center;
  &:not(:last-child) {
    margin-left: 10px;
  }
}

.team-command__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  transition: background-color var(--anim);

  &:hover,
  &:focus {
    background-color: var(--color-hover);
  }

  &:hover .team-command__icon,
  &:focus .team-command__icon {
    fill: #ffffff;
  }
}

.team-command__icon {
  fill: #afb1b8;
  transition: fill var(--anim);
}

/* Постоянные клиенты*/

.clients__regular {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  @include mq(deskmax1199) {
    margin-top: calc(-1 * 30px);
    margin-left: calc(-1 * 30px);
  }

  @include mq(deskmin1200) {
    .clients__item:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.clients__item {
  // align-items: center;

  // @include mq(mobmin480) {
  //   margin-left: 30px;
  //   margin-top: 30px;
  // }

  @include mq(mobmax767) {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;

    // &:not(:last-child) {
    //   margin-right: 30px;
    // }
  }

  @include mq(tab768_1199) {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }

  // @include mq(deskmin1200) {
  //   &:not(:last-child) {
  //     margin-right: 30px;
  //   }
  // }
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border var(--anim), fill var(--anim);

  &:hover,
  &:focus {
    border: 1px solid var(--color-hover);
  }

  &:hover .clients__icon,
  &:focus .clients__icon {
    fill: var(--color-hover);
  }
}

.clients__link {
  @include mq(mobmax767) {
    width: 210px;
    width: 100%;
  }

  @include mq(tab768_1199) {
    width: 226px;
  }

  @include mq(deskmin1200) {
    width: 170px;
  }
}

.clients__icon {
  fill: #afb1b8;
}
